<h1>Login</h1>

<p><%= flash[:error] %></p>

<%= form_for(:session, url: login_path) do |f|%>
  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :password %>
  <%= f.password_field :password %>


  <%= f.submit "Log In" %>
<% end %>

<p>Go back to the CouchPotato <a href="/">Homepage</a>.</p>