<h1>Add a Note</h1>

<%= render partial: 'layouts/errors', locals: {object: @note} %>

<%= form_for @note do |f| %>

    <%= f.label :content %>
    <%= f.text_area :content %><br>
      <%# <%= f.label :id, "Select a Show" %>
      <%# <%= f.collection_select(:id, current_user.shows, :id, :show_title)%>
<%= f.submit "Add Note" %>
    </div>
<% end %>