<h1>Add a Note for <%= @note.show.show_title %></h2>

<%= render partial: 'layouts/errors', locals: {object: @note} %>

<%= form_for(@note) do |f| %>
  <% if params[:show_id] %>
    <%= f.hidden_field :show_id %>
  <% else %>
<div>
  <%= f.label :content %>
  <%= f.text_area :content, size: "30x2" %>
</div>


  <%= f.submit "Add Note" %>
<% end %>