<h1>Add a Note</h1>

<%= render partial: 'layouts/errors', locals: {object: @note} %>

<%= form_for @note do |f| %>

    <%= f.label :content %>
    <%= f.text_area :content, size: "25x10" %>

<%= f.submit "Add Note" %>
    </div>
<% end %>