<h2>Show you are editing:<%= @show.show_title %></h2>
<%= form_for(@show) do |f| %> 
  <div>
    <%= f.label :show_title %>
    <%= f.text_field :show_title %><br>
  </div>
  <%= f.submit %> 
    <% end %>
<%= button_to "Delete", show_path(@show), method: :delete, data: { confirm: "Really?" } %><br>
<p>Go back to your <a href="/shows">watchlist</a>.</p>