<h2>Add a show you want to watch:</h2>

<%= render partial: 'layouts/errors', locals: {object: @show} %>

  <%= form_for Show.new do |f| %> 
  <div>
    <%= f.label :show_title %>
    <%= f.text_field :show_title %><br>
  </div>
  <div>
  Select a Watch Status:
  <%= f.collection_select(:status_id, Status.all, :id, :watched) %>
  </div>
    <%= f.submit %>
  <% end %>

